@model LatestECommerce.Models.ProductModel;

@{
    ViewData["Title"] = "Edit Product";
}

<script src="~/js/jquery-3.7.1.min.js"></script>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Create" style="float: left">Add New</a> 
    <a class="btn btn-secondary" asp-controller="Product" asp-action="Index" style="float: left">Back To List</a>
    <h1 class="display-4">Edit Product</h1>
    <form asp-action="Edit" method="post">

        <input name="Id" id="Id" type="hidden" value="@Model.Id" />
        <input name="CategoryName" type="hidden" value="@Model.CategoryName" />

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StockQuantity" class="control-label"></label>
            <input asp-for="StockQuantity" class="form-control" />
            <span asp-validation-for="StockQuantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            @Html.DropDownList("CategoryId", Model.AvailableCategories)
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </form>

    <br /><br /><br />

    <div class="form-group">
        <label asp-for="VariantKey" class="control-label"></label>
        @Html.DropDownList("VariantKey", Model.AvailableVariantKeys)
        <span asp-validation-for="VariantKey" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VariantValue" class="control-label"></label>
        <input asp-for="VariantValue" class="form-control" />
        <span asp-validation-for="VariantValue" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="button" id="saveVariant" value="Save Variant" class="btn btn-primary" />
    </div>

    <script>
        $("#saveVariant").click(function(){
            $.ajax({
                url: "@Url.Action("SaveVariant", "Product")",
                type: "post",
                data: {
                    "productId": $("#Id").val(),
                    "VariantKey": $("#VariantKey").val(),
                    "VariantValue": $("#VariantValue").val()
                },
                success: function (response) {
                    if (response == "Success"){
                        alert("Product Variant Added Successfully");
                        $("#VariantKey").val("0");
                        $("#VariantKey").val("");
                    }
                },
                error: function () {
                }
            });
        })
    </script>
</div>