@model LatestECommerce.Models.ProductListModel;

@{
    ViewData["Title"] = "Home Page";
    Layout = "_PublicLayout";
}

@if (Model.IsAdmin)
{
    <a asp-controller ="Customer" asp-action="Index"
        style="
        background-color: #f7444e;
        color: white;
        font-size: larger;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        position: fixed;
        top:0;
        width: 100%;
    ">
        Administrator
    </a>
}

<script src="~/js/jquery-3.7.1.min.js"></script>

<table>

    @Html.Raw(Model.RawHtml);

</table>


<!-- product section -->
<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our <span>products</span>
            </h2>
        </div>
        <div class="row">
            @foreach (var item in Model.ProductModels)
            {
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a data-productid="@item.Id" class="addToCart option1" style="cursor: pointer;">
                                    Add To Cart
                                </a>
                                <a href="" class="option2">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="img-box">
                            <img src="@item.ImagePath" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                @item.Name
                            </h5>
                            <h6>
                                @item.Price RS
                            </h6>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="btn-box">
            <a href="">
                View All products
            </a>
        </div>
    </div>
</section>

<script>
    
    $(document).ready(function () {
        var cookie = document.cookie;
        if (cookie == null || cookie == undefined || cookie == '') {
            $("#loginbtn").show();
            $("#logoutbtn").hide();
        }
        else {
            $("#loginbtn").hide();
            $("#logoutbtn").show();
        }

        $("#cartCount").html(@Model.CartCount);

        $(".addToCart").click(function () {

            
            if (cookie == null || cookie == undefined || cookie == '') {
                window.location = "@Url.Action("Login", "Auth")";
            }
            else {
                var productId = $(this).attr("data-productid");

                $.ajax({
                    url: "@Url.Action("AddToCart", "Home")",
                    type: "post",
                    data: {
                        "productId": productId
                    },
                    success: function (response) {
                        console.log($("#cartCount"));
                        console.log(response);
                        if (response.success) {
                            $("#cartCount").html(response.cartCount);
                            
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 1000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Added to Cart successfully"
                            });
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                    }
                });
            }
        });
    });
</script>
<!-- end product section -->
