@model LatestECommerce.Models.CustomerModel;

@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/jquery-3.7.1.min.js"></script>

<input name="Id" type="hidden" value="@Model.Id" />

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Customer" asp-action="Create" style="float: left">Add New</a> 
    <a class="btn btn-secondary" asp-controller="Customer" asp-action="Index" style="float: left">Back To List</a>
    <h1 class="display-4">Edit Customer</h1>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">

        <input name="Id" type="hidden" value="@Model.Id" />

        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber1" class="control-label"></label>
            <input asp-for="PhoneNumber1" class="form-control" />
            <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber2" class="control-label"></label>
            <input asp-for="PhoneNumber2" class="form-control" />
            <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <img id="user_img" height="100" width="90" style="border:solid" src="@Model.ImagePath" />
            <input type="file" name="photo" accept="image/*" onchange="show(this)" />
            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script type="text/javascript">
                function show(input) {
                    if (input.files && input.files[0]) {
                        var filerdr = new FileReader();
                        filerdr.onload = function (e) {
                            $('#user_img').attr('src', e.target.result);
                        }
                        filerdr.readAsDataURL(input.files[0]);
                    }
                }
            </script>
        </div>
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </form>

    <br /><br /><br />

    <div class="form-group">
        <label asp-for="CustomerRoleId" class="control-label"></label>
        @Html.DropDownList("CustomerRoleId", Model.AvailableCustomerRoles)
        <span asp-validation-for="CustomerRoleId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="button" id="saveCustomerRole" value="Assign Role" class="btn btn-primary" />
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Role Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="rolesTable">
        </tbody>
    </table>

    <script>
        $("#saveCustomerRole").click(function () {

            var selectedRoleValue = $("#CustomerRoleId").val();

            $.ajax({
                url: "@Url.Action("SaveCustomerRole", "Customer")",
                type: "post",
                data: {
                    "customerId": @Model.Id,
                    "customerRoleId": selectedRoleValue
                },
                success: function (response) {

                    console.log(response.message);

                    if (response.success) {
                        $("#CustomerRoleId").val("0");

                        $("#rolesTable").html("");

                        var html = "";

                        $.each(response.rolesList, function (i, item) {

                            html = html + "<tr><td> " + item.name + " </td><td><button class='btn btn-danger deleteRole' style='float: left'>Delete</button></td></tr>";

                        });

                        $("#rolesTable").html(html);

                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: response.message
                        });
                    }
                },
                error: function () {
                }
            });
        });

        $(document).ready(function () {

            $("#saveCustomerRole").click();
            
        });
    </script>
</div>